appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Testing==0.4.2
Flask-WTF==0.12
gnureadline==6.3.3
inflect==0.2.5
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
simplegeneric==0.8.1
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.0.12
traitlets==4.2.1
Werkzeug==0.11.9
WTForms==2.1
