<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FlaskZhihu{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {% block extra_stylesheets %}{% endblock %}
        {% block favicon %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block extra_javascripts %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>
