{% extends 'base.html' %}
{% block title %} {{ answer.user.name }} 的回答 {% endblock %}
{% block body %}
{% include 'user/_user_banner.html' %}
    作者: {{ answer.user.name }}
    <BR><a href="{{ url_for('CollectionView:select_by_answer', answer_id=answer.id) }}">收藏</a>
<hr>
    content: {{ answer.content|safe }} <BR>

<hr>
    <form method="POST" action="{{ url_for('CommentView:add') }}">
    <input type="hidden" name="target_type" value="answer"/>
    <input type="hidden" name="target_id" value="{{ answer.id }}"/>
    <textarea name="content"></textarea>
    <input type="submit" value="Submit">
    </form>

<hr>
    <table border="1">
    <tbody>
    {% for comment in answer.comments %}
        <tr>
            <td><a href="{{ url_for('CommentView:voteup', id=comment.id) }}">赞同({{ comment.voteup_count }})</a></td>
            <td><a href="{{ url_for('CommentView:cancel_vote', id=comment.id) }}">取消意见</a></td>
            <td width="200">{{ comment.create_time }}</td>
            <td width="100">{{ comment.user.name }}</td>
            <td width="300">{{ comment.content }}</td>

        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
